__ANALISE_ECQ/*
_ANALISE_ANOMALIAS/*
_ANALISE_FERIADOS/*
Comparativo/*
distribuicao-BINOMIAL/*
bd/*
documentos/*
emails/*
exemplos/*
MicroStrategy/*
PBI/*
SERVER_VERSION/*
./vscode/*
launch.json
SAIDA/*
entrada/*
__DB_PLOSS__
desktop.ini
last_execution.log
settings.ini
MULTIVARIADO_EVENTO.py
ler_bd.py
criar_bd.py
